body {
    margin: 0;
    min-width: 280px;
    max-width: 100%;
}

img {
    width: 20%;
    height: auto;
    margin: 2%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #332C89;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    padding: 10px;
    font-weight: 700;
    color: white;
    font-size: 27px;
}

/* Responsividade */
@media (max-width: 923px) {
    img {
        width: 30%;
    }

    p {
        font-size: 0.7rem;
        padding: 2px;
    }
}

@media (max-width: 550px) {
    img {
        width: 20%;
    }

    p {
        font-size: 0.6rem;
    }

    .faleConosco {
        background-color: #FFA500;
        color: black;
        border-radius: 14px;
    }
}

@media (max-width: 333px) {
    img {
        width: 18%;
    }

    p {
        font-size: 0.5rem;
        padding: 1px;
    }
}

/* Estilo da classe faleConosco */
.faleConosco {
    background-color: #FFA500;
    color: black;
    border-radius: 14px;
    margin-right: 35px;
}

/* Animação de rolagem contínua */
.container-slide {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.paginas-slide {
    display: flex;
    align-items: center;
    width: max-content;
    animation: anima 30s linear infinite;
}

@keyframes anima {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.paginas-slide img {
    margin: 10px;
}

.imgBradesco, .imgSantander {
    width: 230px;
}

.imgDaycoval {
    width: 220px;
}

.imgBMG {
    width: 160px;
}

.imgBrasil, .imgMaster {
    width: 150px;
}

.imgSafra {
    width: 140px;
}

.imgCaixa, .imgCapitalConsig, .imgNeoCredito, .imgSaninvest  {
    width: 130px;
}

.imgFacta {
    width: 120px;
}

.imgPan, .imgBRG, .imgBanrisul, .imgDigio, .imgInsurba {
    width: 100px;
}

.imgItau {
    width: 90px;
}
