body {
    background-color: #332C89;
}

main { /*Todos os elementos da página devem estar aqui dentro*/
    background-color: red;
    border-radius: 10px; /* Borda da main arredondada */
    min-width: 280px; /* Tamanho mínimo */
    max-width: 100%; /* Tamanho máximo */
}

img {
    width: 20%; /* Tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin: 2%;
}

.container { /*É a div que está envolvendo as tags da parte superior da tela*/
    display: flex;
    flex-direction: row;
    background-color: #332C89;
}

p {
    padding: 10px; /* Ajuste no padding para reduzir o espaço */
    margin: 0; /* Remove margens externas */
    font-weight: 700;
    color: white;
    font-size: 1.2rem; /* Tamanho de fonte padrão */
}

/* Ajuste para títulos, removendo margens */
h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Remove margens externas */
    padding: 10px 0; /* Adiciona um pequeno padding interno */
    color: white;
}

@media (max-width: 768px) {
    img {
        width: 30%; /* Reduz o tamanho da imagem para telas menores */
    }

    p {
        font-size: 1rem; /* Reduz o tamanho da fonte para telas menores */
        padding: 2px; /* Ajusta o espaçamento para telas menores */
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 5px 0; /* Ajuste para telas menores */
    }
}

@media (max-width: 480px) {
    img {
        width: 20%; /* Tamanho ainda menor para telas muito pequenas */
    }

    p {
        font-size: 0.9rem; /* Tamanho da fonte ainda menor para telas pequenas */
        padding: 2px; /* Ajuste adicional no padding */
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 2px 0; /* Ajuste ainda menor para telas pequenas */
    }
}
